<label class="bookmark-url-label">URL to Bookmark:</label>
<input type="text" class="bookmark-url-input">
<label class="bookmark-title-lable">Title for Bookmark:</label>
<input type="text" class="bookmark-title-input">
<label class="bookmark-tag-label">Tag for Bookmark:</label>
<input type="text" class="bookmark-tag-input">
<button type="submit" class="bookmark-submit"><i class="fa fa-bookmark-o"></i> Add Bookmark</button>