{{#each this}}
	<li class="bookmark-item">
		<h3 class="bookmark-item-title">{{title}}</h3>
		<a href="{{url}}" class="bookmark-item-url">{{url}}</a>
		<p class="bookmark-item-tag">{{tag}}</p>
	</li>
{{/each}}